# Ignore dataset images
data/pyro_sdis_yolo/
data\pyro_sdis_yolo\
dataset/pyro_sdis_yolo/
dataset\pyro_sdis_yolo\

data/convert/
data\convert\
data/D_Fire_validation/
data\D_Fire_validation\
data/download/
data\download\
data/D-Fire.zip
data\D-Fire.zip
dataset/fire_smoke_combined_new.zip
dataset\fire_smoke_combined_new.zip
dataset/dfire/
dataset\dfire\
dataset/fire_smoke_combined/
dataset\fire_smoke_combined\
dataset/fire_smoke_combined_new/
dataset\fire_smoke_combined_new\

runs\detect\data_effnet\
runs/detect/data_effnet/


# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
VENV/
.venv/
.ENV/
.VENV/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore